$background: #ffffff;
$priceColor: #2196F3;
$colHeaderColor: #A0B0B9;
$colBodyColor: #4A4A4A;

.ticket {
  width: 502px;
  height: 187.6px;

  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: $background;

  .ticket__header {
    display: flex;
    justify-content: space-between;

    .ticket__price {
      color: $priceColor;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .ticket__body {
    width: 100%;
    height: 88px;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ticket__table {
      display: flex;
      justify-content: space-between;
      .ticket__col {
        .ticket__col--header {
          color: $colHeaderColor;
          font-size: 12px;
        }

        .ticket__col--body {
          color: $colBodyColor;
          font-size: 14px;
        }
      }
    }
  }
}