.App {
  width: 100%;
  max-width: 754px;
  height: 100vh;
  margin: 0 auto;

  .App__page {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .App__sidebar {
      display: flex;
      flex-direction: column;
    }

    .App__container {
      width: 66%;
      @media screen and (max-width: 700px) {
        width: 502px;

        @media screen and (max-width: 500px) {
          width: 352px;
        }
      }
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}