.App {
  width: 100%;
  max-width: 754px;
  margin: 0 auto;

  .App__page {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .App__container {
      width: 66%;
    }
  }
}